@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: "Barlow", sans-serif;;
    margin: 0 10%;
    border-top: 10px solid;
    border-image:   linear-gradient(to right, rgb(0, 0, 0) 33%, yellow 33%, yellow 66%,red 66%, red 100%) 5;
}
.nav {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-bottom: 2px solid black;
  }
  .nav > .nav-header {
    flex: 0.95;
    padding-left: 1rem;
  }
  .nav > .nav-header > .nav-title {
    font-size: 22px;
    color: #fff;
  }
  .active{
    font-weight: 800;
  }
  .nav > .nav-list {
    display: flex;
    gap: 2rem;
  }
  .nav .nav-list ul{
      list-style: none;
  }
  .nav  .nav-list  li {
      text-transform: uppercase;
      list-style: none;
  }
  .nav .nav-list  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .nav > #nav-check {
      display: none;
  }
  .home_container{
    min-height: 400px;
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.home_container img{
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.6;
}
.home_container h1{
    position: absolute;
    font-weight: 900;
    font-size: 80px;
    text-shadow: 4px 4px 2px rgba(54,54,54,0.6);
}
.home_2_container{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.home_2_container div{
    height: 100%;
}
.home_2_con{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.home_2_con img{
    width: 70%;
    height: 100%;
    position: absolute;
    right: 0;
}
.home_3_con img{
    width: 30%;
    height: 90%;
    object-fit: cover;
}
.home_3_con{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    width: 60%;
}
.home_2_con a{
    background-color: #2197bd;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    line-height: 1rem;
    position: absolute;
    bottom: 20px;
    z-index: 2;
}
footer {
    padding: 20px;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p i{
    margin-right: 5px;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.social-icons a{
    font-size: 20px;
}
.social-icons img {
    width: 100px;
}
  @media (max-width:1100px) {
    .nav li{
        font-size: 18px;
    }
  }
  @media (max-width: 900px) {
    .nav {
      padding: 1rem;
    }
    .nav > .nav-btn {
      display: inline-block;
      padding-top: 0.2rem;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      color: white;
      border-top: 2px solid black;
    }
    .nav > .nav-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      background-color: #2197bd;
      height: 0;
      transition: all 0.3s ease-in;
      top: 120px;left: 0;
      overflow: hidden;
      z-index: 100;
    }
    .nav > .nav-list > li {
      width: 100%;
      margin-top: 1.5rem;
      margin-left: 1.5rem;
      color: white;
    }
    .nav li{
      color: white;
    }
    .nav a{
      color: white;
    }
    .nav > #nav-check:checked ~ .nav-list {
      height: calc(100vh - 50px);
    }
    .home_container h1{
    font-size: 40px;
  }
  .home_2_container{
    flex-direction: column;
  }
  .home_2_con{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .home_2_con img{
    display: none;
  }
  .home_3_con{
    width: 100%;
  }
  footer{
    flex-direction: column;
  }
  }
  
